{% extends 'base.html.twig' %}

{% block body %}
    <h1>Groupprofiles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupProfile in groupProfiles %}
            <tr>
                <td><a href="{{ path('group-profile_show', { 'id': groupProfile.id }) }}">{{ groupProfile.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('group-profile_show', { 'id': groupProfile.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('group-profile_edit', { 'id': groupProfile.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('group-profile_new') }}">Create a new groupProfile</a>
        </li>
    </ul>
{% endblock %}
